<!DOCTYPE html>
<html>

<head>
    <title>About TRex</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="div-center">

        <h1>O Jogo do Trex</h1>

        <div class="div-center-image">
            <img src="images/trex-cover.png" alt="" width="600px">
        </div>

        <p>
            Aproveitando as festividades dos 10 anos do Chrome, o Google aproveitou para contar detalhes do jogo do dinossauro, que sempre aparece quando você fica offline.
        </p>
        <p>
            O running T-Rex começou em 2014 e é um “endless runner” — um joguinho em que um tiranossauro corre sem parar. O objetivo é ir se livrando dos obstáculos até conseguir bater sua pontuação anterior ou até sua internet voltar, o que em alguns casos pode durar horas.
        </p>
        <p>
            Conforme explica Sebastien Gabriel, um dos membros da equipe de design do Chrome, a escolha pelo tiranossauro tem como objetivo fazer o jogador voltar a uma era pré-histórica, quando as pessoas não tinham Wi-Fi. Já o cacto e o clima desértico como cenário do jogo têm relação com uma das páginas iniciais do Chrome que indicavam que a pessoa estava sem conexão à internet.
        </p>
        <p>
            Durante o processo para criar o easter egg, algumas ideias foram descartadas. Alan Betts, também da equipe de design do Chrome, conta que passou pela cabeça do time ter algum movimento à la Sonic ou mesmo que o personagem do joguinho emitisse algum ruído. “No fim das contas, deixamos a experiência simples como todo bom jogo de corrida: ele corre, se agacha e pula”, disse Betts.
        </p>
        <p>
            Se você já se pegou jogando, saiba que não está sozinho. O Brasil está entre os países que mais acessa o game do tiranossauro. Juntam-se ao rol ainda México, Índia e Indonésia. O motivo? Bem, são países em que os planos de dados são caros ou de baixa qualidade. Mensalmente, 270 milhões de pessoas acessam o joguinho no laptop ou no smartphone.
        </p>
        <p>
            Infelizmente, o jogo não tem uma espécie de ranking, porém, fiquei curioso para saber quantos pontos as pessoas geralmente fazem. Eu não consigo passar dos 2.000 pontos. Uma coisa é certa: o joguinho é quase eterno. A equipe de desenvolvimento diz que o game pode durar por 17 milhões de anos — o mesmo tempo que o tiranossauro passou na Terra. Haja teclado e falta do que fazer para finalizar, né? ?
        </p>
        <p>
                Por ocasião dos 10 anos do Chrome, o jogo ganhou uma nova versão que, basicamente, disponibiliza bolos e balões. Ao pegar um desses, o tiranossauro ganha um chapéu de aniversário. Caso você não queira esperar sua internet cair para jogar, basta acessar no Chrome essa URL: <a href="chrome://dino">chrome://dino</a> .
        </p>

    </div>

</body>

</html>