<div class="container">
    <a href="/curso/create" class="btn-primary">Cadastrar</a>

    <br>
    <br>

    <h1>Cursos</h1>
    <ul>
        {{#each cursos}}
        <li>{{id}} - {{nome}}</li>
        {{/each}}
    </ul>

</div>